<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
   
  <log4net>

    <appender name="ProcessedLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\CcsAdhocScan\\CcsSmAdhocScan\\CcsSmAdhocScanlogs\\Processed.log" />
  	  <rollingStyle value="Size" />
	  <maximumFileSize value="2MB" />
	  <maxSizeRollBackups value="5" />  
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p  - %m%n" />
      </layout>
    </appender>

    <appender name="FailProcessedlog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\CcsAdhocScan\\CcsSmAdhocScan\\CcsSmAdhocScanlogs\\FailProcessed.log" />
 	  <rollingStyle value="Size" />
	  <maximumFileSize value="2MB" />
	  <maxSizeRollBackups value="5" />  
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p  - %m%n" />
      </layout>
    </appender>

    <appender name="CcsSmAdhocScanlog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\CcsAdhocScan\\CcsSmAdhocScan\\CcsSmAdhocScanlogs\\CcsSmAdhocScan.log" />
  	  <rollingStyle value="Size" />
	  <maximumFileSize value="2MB" />
	  <maxSizeRollBackups value="5" />  

      <layout type="log4net.Layout.PatternLayout">
        <!-- param name="Header" value="Log file" / >
        <param name="ConversionPattern" value="%d [%t] {%p} [%c] %m%n" / -->
        <param name="ConversionPattern" value="%d [%t] %p - %m%n" />
      </layout>
	  
    </appender>

    <appender name="ConsoleAppenderlog" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="Log file" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %p %c %m%n" />
      </layout>
    </appender>


    <logger name="Processed">
       <level value="DEBUG" />
	 
      <appender-ref ref="ProcessedLog" />
    </logger>

    <logger name="FailProcessed">
      <level value="DEBUG" />
      <appender-ref ref="FailProcessedlog" />
    </logger>

    <logger name="CcsSmAdhocScan">
      <level value="DEBUG" />
      <appender-ref ref="CcsSmAdhocScanlog" />
    </logger>

    <logger name="ConsoleAppender">
      <appender-ref ref="ConsoleAppenderlog"/>
    </logger>
  </log4net>
  
  
  
  
  
  
  
</configuration>